/* Monokai Pro Color Pallet */
:root {
  --background: #2e2e2e;
  --comments: #797979;
  --white: #d6d6d6;
  --yellow: #e5b567;
  --green: #b4d273;
  --orange: #e87d3e;
  --purple: #9e86c8;
  --pink: #b05279;
  --blue: #6c99bb;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body,
html {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Arial", sans-serif;
  padding: 0;
  margin: 0;
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
}

button {
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  border-style: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}
